In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()

In [7]:
df = pd.read_csv("CAC40_stocks_2010_2021.csv")
df.isnull()

,CompanyName,StockName,High,Low,Open,Close,Volume,Date
0,TechnipFMC,FTI,29.855000,29.075001,29.075001,29.615000,1908400.0,2010-01-04
1,TechnipFMC,FTI,30.270000,29.555000,29.610001,30.125000,2206600.0,2010-01-05
2,TechnipFMC,FTI,30.305000,29.434999,30.040001,30.264999,2724200.0,2010-01-06
3,TechnipFMC,FTI,30.219999,29.715000,30.155001,29.915001,2581000.0,2010-01-07
4,TechnipFMC,FTI,30.500000,29.625000,29.830000,30.450001,3280400.0,2010-01-08
...,...,...,...,...,...,...,...,...
81730,LVMH,MC,53.889999,51.279999,53.689999,51.450001,404700.0,2021-01-26
81731,LVMH,MC,50.779999,48.759998,50.419998,49.369999,688200.0,2021-01-27
81732,LVMH,MC,51.820000,49.639999,49.930000,51.189999,480400.0,2021-01-28
81733,LVMH,MC,51.130001,48.990002,51.099998,49.709999,341000.0,2021-01-29
81734,LVMH,MC,51.290001,49.630001,49.790001,51.250000,348200.0,2021-02-01

In [4]:
df = pd.read_csv("preprocessed_CAC40.csv")
df

,Unnamed: 0,Name,Date,Open,Closing_Price,Daily_High,Daily_Low,Volume
0,0,Accor,2020-04-03,22.99,23.40,23.40,22.99,67
1,1,Accor,2020-04-02,23.91,22.99,23.91,22.99,250
2,2,Accor,2020-04-01,24.10,23.83,24.10,23.83,37
3,3,Accor,2020-03-31,25.04,25.00,25.24,24.99,336
4,4,Accor,2020-03-30,26.50,25.02,26.50,24.99,415
...,...,...,...,...,...,...,...,...
97643,97643,Worldline SA,2014-07-04,16.22,16.28,16.29,16.22,NaN
97644,97644,Worldline SA,2014-07-03,16.12,16.28,16.28,16.12,NaN
97645,97645,Worldline SA,2014-07-02,16.22,16.17,16.32,16.17,NaN
97646,97646,Worldline SA,2014-07-01,16.42,16.25,16.55,16.25,NaN
97647,97647,Worldline SA,2014-06-30,16.35,16.32,16.75,16.28,200